@import url('refinery/application.css');
@import "mixins.scss";

body {
  @include background-gradient(#7c7, #393);
  font-family: Georgia, Verdana, sans-serif
}

#page_container {
  margin: auto;
  margin-top: 0;
}

header, #page {
  background-color: white;
  width: 799px;
  margin-bottom: 0;
}

header {
  margin-top: 0;
  @include border-radius(10px, 10px, 0, 0); } 

#logo img {
  margin-left: 1em;
}
#page {
  margin-top: -2em;
  @include border-radius(0, 0, 10px, 10px);
  padding-bottom: 2em;
}

#body_content {
  float: right;
  width: 70%;
  margin: .5em .5em .5em 1em;
}

footer {
  width: 799px;
  color: white;
}

header div img {
  background-color: white;
  float: left;
  width: 100px;
  padding: 0;
  margin: 0;
}

br {
  clear: both;
}


#menu {
  ul {
    font-family: Times;
    position: relative;
    top: -32px;
    list-style: none;
    padding: 0px;
    z-index: 10;
    color: white;
    margin-left: 10px;
  }
  li {
    float: left;
    margin-right: 10px;
  }
  a, a:visited {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    background: #373;
    color: white;
    @include border-radius(5px, 5px, 0, 0);
  }
  a:hover {
    background: #111;
  }
  a:active {
    background: #111;
    font-weight: bold;
  }
  li.selected a {
    background: #111;
  }
}
#side_body_content {
    float: left;
    width: 24%;
    margin: .5em .5em .5em 1em;
}


