@import "mixins.scss";

#body_content  {
  float: right;
  width: 52%;

  ul {
    margin-top: 2em;
    float: right;
    margin-right: 1em;
  }

  li {
    list-style-type: none;
    clear: both;
    background-color: #ddd;
    height: 80px;
    width: 400px;
    margin-bottom: .4em;
    @include sym-border-radius(5px);
    border: 3px #ccc outset;

    a {
      text-decoration: none;
      color: black;
    }
    img {
      float: left;
      padding: .3em;
      height: 64px;
      width: 48px;
      margin: 4px;
    }
    div {
      float: left;
      padding: .3em 0;
      margin-left: .8em;
      div {
        width: 300px;
      }
      * {
        margin: 0;
      } 
    }
  }

  li.hover {
    background-color: #aaa;
  }




}
#side_body_content {
    float: left;
    width: 42%;
    margin: 1.5em .5em .5em 1em;
}

