<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' %>
<section id='body_content'>
  <%=raw @page.content_for(:body) %>
</section>
<section id='side_body_content'>
  <%=raw @page.content_for(:side_body) %>
</section>
<br class='clear' />

<script type="text/javascript">
  $(function() {
    $('#body_content li')
      .click(function(e) {
        var href = $('a', this).attr('href');
        if (href)
          window.location = href;
      })
      .hover(function() {
        $(this).addClass('hover');
        },
        function() {
          $(this).removeClass('hover');
        });
  });
</script>
